.header {
    display: flex;
    justify-content: center;
}

.Logo {
    width: 25%;
    text-align: right;

}

.Logo img {
    margin-top: 1.2em;
    object-fit: cover;
}

.Nav {
    width: 75%;
    background: url('/homePageImages/c.svg');
    background-size: cover;
    background-position: center;
    height: 22rem;
    margin-top: -4rem;
}

.Nav ul {
    margin-top: 6.2rem;
    display: flex;
    justify-content: center;
}

.Nav ul li {
    list-style: none;
    font-weight: bold;
    margin: 0 2rem;
}

.Nav ul li:hover {
    cursor: pointer;
}

.Nav ul li a {
    color: #fff;
    text-decoration: none;
}

.Nav ul li:last-child {
    border-radius: 1.5rem;
    padding: 8px 24px;
    background-color: #FF8923;
    margin-top: -.5em;
}

.Hero {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.Hero .Context {
    display: flex;
    flex-direction: column;
    width: 55%;

}




.Hero .Context p {
    margin-left: 10rem;
    font-size: 2.5rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
    text-transform: uppercase;
}

.Hero .Context span {
    margin-left: 10rem;
}

.Hero .Context span:last-child {
    margin-top: 2rem;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    padding: 6px 12px;
    border-radius: 4rem;
    background-color: #3D37F1;
}

.Hero .Image {
    width: 45%;
    text-align: center;
}


.Services {
    width: 95%;
    background-color: #FBFCFD;
    padding: 24px 0;
    text-align: center;
    margin: 4rem auto;
}

.Services .Section1 {
    width: 60%;
    margin: 0 auto;
}

.Services .Section1 * {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.Services .Section1 h3 {
    font-size: 1.4rem;
    color: #3D37F1;
}

.Services .Section1 h2 {
    font-size: 2rem;
    font-weight: 300;
}


.Services .Cards {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-auto-rows: 451px;
    justify-content: center;
    gap: 8px;
}

.Services .Cards .Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.Services .Cards .card1 {
    background-color: #FBBA77;
}

.Services .Cards .card2 {
    background-color: #41EAE3;
}

.Services .Cards .card3 {
    background-color: #69529F;
}

.Services .Cards .card4 {
    background-color: #4386D2;
}

.Services .Cards .card5 {
    background-color: #A5A2F6;
}

.About {
    display: flex;
    padding: 16px;
    width: 90%;
    margin: 4em auto;
    align-items: center;
    justify-content: center;

}

.About div:first-child {
    width: 50%;
}

.About div:last-child {
    width: 40%;
}

.About div:last-child p {
    font-weight: 500;
}

.About div:last-child h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.Success {
    margin: 2rem 0;
    padding: 2rem 0;
    background-color: #FBFCFD;
    text-align: center;
}

.Success h2 {
    font-size: 1.4rem;
}

.Success .Cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Success .Cards .Card {
    width: 25%;
    box-shadow: 0px 1px 6px 0px #000;
    min-width: 350px;
    margin: 0px 8px;
    background-color: white;
    transition: .2s;
    border: .1px solid white;
    min-height: 29rem;
}

.Success .Cards .Card:hover {
    border: .1px solid blue;
}

.Success .Cards * {
    text-align: left;
    max-width: 100%;
    outline: none;
    border: none;
    background-color: white;
}

.Success .Cards .Card h3 {
    font-size: 18px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 1px;

}

.Success .Cards .Card p {
    margin-block-start: 4px;
    margin-block-end: 1px;
    font-size: 14px;
}

.Success .Cards .Card div:last-child {
    padding: 0px 18px 6px 18px;
}

.Success .Cards .Card div>img {
    height: 200px;
    width: 100%;
    clip-path: polygon(0% 0%, 85% 0%, 100% 0%, 100% 85%, 61.7% 93.8%, 22.8% 86.3%, 0% 100%, 0% 15%);
}


.Footer {
    background-color: #fff;

}

.Footer .Container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 180px));
    padding: 1rem 2rem;
}

.Footer .Container div {
    padding: 6px;
}


.Footer .Container div:first-child ul {
    display: flex;
    justify-content: left;
    padding-left: 0;
}

.Footer .Container div:first-child ul li {
    list-style: none;
    font-size: 2.5rem;
    margin: 0 7px;
}

.Footer .Container div:first-child p {
    margin-left: 8px;
    font-size: 14px;
}

.Footer .Container div:first-child ul li * {
    fill: #0A315A;

}

.Footer .Container div:not(:first-child) {
    margin-left: 4rem;
    color: #747474;
}

.Footer .Container div:not(:first-child) h3 {
    margin-block-start: .6em;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: .5rem;
}

.Footer .Container div:not(:first-child) ul {
    text-align: left;
    list-style: none;
    padding-left: 0;

}

.Footer .Container div:not(:first-child) ul li {
    color: #4B647E;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 18px 0;
}

.Footer div:last-child {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
}

@media screen and (max-width : 1025px) {
    .Nav {
        margin-top: -2rem;
        height: 16.2rem;
    }

    .Nav ul {
        margin-top: 4rem;
    }
}

@media screen and (min-width : 1439px) {
    .Nav {
        height: 24.5rem;
    }
}